@import '@splidejs/react-splide/css';

.container-carrousel {
    height: 50vh;
    width: 100vw;
    background-color: $greyClear;
    display: flex;

    .carrousel {
        height: 70%;
        width: 80%;
        margin: auto;
        max-width: 540px;

        .splide {
            height: 100%;
            width: 100%;
            display: flex;

            .splide__slide {
                .image {
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    
                }
            }

            .splide__pagination {
                display: flex ;
              }
        }
    }
}

/********************Media queries***************************/

@media  screen and (min-width: 600px) {
    
    .container-carrousel{
        height: 60vh;

        >.carrousel{
            height: 80%;
        }
    }
}
