
.container{
    display: flex;
    height: 100%;
    width: 100%; 
    
    >.container-create-menu{
        display: flex;
        height: auto;
        width: 100%;
        border-bottom: 2px solid $secondRed;
        background-color: $secondWhite;
       
        >.jour{  
            height: 100%;
            width: 180px;
            background-color: $greyDark;
            box-shadow: 6px 5px 15px -2px rgba(123,123,123,0.75);
            display: flex;
            justify-content: center;
          
            >.jour-detail{
                display: flex;
                flex-direction: column;
                height: 20%;
                width: 95%;
                color: $firstWhite;
                font-size: 1.5em;
                font-weight: bold;
                padding-top: 50px;
                align-items: center;    
            }
        }

        >.menu{
            height: auto;
            min-height: 250px;
            width: 100%;
            padding-bottom: 20px;
          
            >.partie-global{
                display: flex;
                justify-content: space-around;
                padding-top: 20px;
                flex-direction: column;
                width: 100%;
                
                >h2{
                    color: $secondRed;
                    text-decoration: underline;
                    font-size: 2em;
                    margin: auto;
                }

                >.partie,button{
                    color: $secondRed;
                    font-weight: bold;
                    font-size: 1.2em;  
                }

                >.partie{
                    display: flex;
                    height: 70px;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                }

                >.confirm{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    width: 150px;
                    margin: auto;
                    margin-top: 20px;
                    background-color: $firstWhite;
                    border: 4px solid $greyDark;
                    border-radius: 50px;
                    box-shadow: 6px 5px 15px -2px rgba(123,123,123,0.75);
                }
            }
        }
    }
}


  