form{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 70%;
    width: 70%;
    max-width: 300px;
    border: 2px solid $secondRed;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: $secondWhite;
    background-color: $greyDark;

    >label,input,button{
        width: 55%;
        border-color: $secondRed;
        height: 30px;
    }
    
    >button{
        color: green;
        font-weight: bold;
        border-radius: 50px;
    }

    >input::placeholder{
        padding-left: 10px;
        color: $secondRed;
        
    }

}