form{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 70%;
    width: 70%;
    max-width: 300px;
    border: 2px solid $secondRed;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: $secondWhite;
    background-color: $greyDark;
  

    >label,input,button{
        height: 30px;
        width: 55%;
        border-color: $secondRed;
        font-weight: bold;
    }
    
    >button{
        color: green;
        border-radius: 50px;
    }

    >input::placeholder{
        padding-left: 10px;
        color: $secondRed;
        
    }

}

/******************Media queries**************************/

@media screen and (min-width:600px) {
    
    form{
        
        >label,input,button{
            font-size: 1.1em;
            width: 70%;
            height: 50px;
            padding-left: 10px;
        }
    }

}
