
.container-admin{
    height: 100%;
    width: 100%;
    background-color: $firstWhite;
    display: flex;
    justify-content: center;
    gap: 20px;
    

}

.header-admin{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: $firstRed;
    color: $firstWhite;
    justify-content: center;            
}