
.content-formulaire{
    height: 40vh;
    background-color: $greyClear;
    display: flex;
    align-items: center;
    justify-content: center;   
}

/*********************Media queries*********************/

@media screen and (min-width:600px){
    .content-formulaire{
        height: 60vh;
    }
}