

.header {
    height: 80px;
    width: 100%;
    background-color: $secondRed;
    display: flex;
    align-items: center;
    color: $secondWhite;
    >.date{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
           
        >.trait{
            display: flex;
            height: 2px;
            width: 40%;
            background-color: $secondWhite;
        }
    }
     
    >.photo{
        display: flex;
        margin-left: 20px;
        >img{
            height: 70px;
            width: 130px;
        }
    }
}

.horizontal{
    display: flex;
    margin: auto;
    height: 2px;
    width: 40%;
    background-color: $secondRed;
}

.semaine{
    height: auto;
    border: 4px solid $secondRed;
    margin-bottom: 20px;
    background-image: url("../../assets/images/papier.jpg");
    background-size: cover;
    
    
    >.jour{
        display: flex;
        flex-direction: column;
        padding: 20px;
        color:$secondRed;
        font-weight: bold;
    }
}