
.container-services{
    display: flex;
    flex-direction: column;
    background-color: $greyClear;
    height: 600px;
    width: 100%;
    margin-bottom: 20px;

    >.image{
        width: 100%;
        
    }

    >.descriptif{
        display: flex;
        height: 250px;
        align-items: center;

        >ul{
            margin-left: 50px;
        }
        
        >ul >li{
            font-size: 1.2em;
            color: $firstWhite;
            list-style: circle;
            font-weight: bold;

            >a{
                color: $secondRed;
            }
        }
    }
}

.services{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    text-align: center;
    justify-content: center;

    >.titre{
        display: flex;
        height: 80px;
        width: 100%;
        background-color: $secondRed;
        align-items: center;
        justify-content: center;

        >h2{
            color: $firstWhite;
        }   
    }

    >.animation{
        display: flex;
        flex-direction: column;
        height: 500px;
        margin-bottom: 20px;

      

        .image{
            height: 200px;
            margin-top: 20px;

            >img{
                height: 200px;
            }
        }

        >.descriptif{
            margin-top: 20px;
            background-color: $greyClear;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            >span, p{
                color: $firstWhite;
                font-size: 1.2em;
                font-weight: bold;
            }

            >span >a{
                color: $firstRed;
                text-decoration: underline;
            }
        }
    }       
}

/****************Media queries************************/

@media screen and (min-width:600px) {
    .container-services{
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-bottom: 150px;
        >.image{
            width: 50%;
            height: 100%;

            >img{   
                height: 100%;
                width: 100%;
            } 
        }

        >.descriptif{
           height: 100%;
           font-size: 1.5em;
           justify-content: space-around;
           width: 50%;
           
           
    
            >ul{
                margin-left: 20px;
            }
            
            >ul >li{
                font-size: 1.2em;
                color: $firstWhite;
                list-style: circle;
                font-weight: bold;
    
                >a{
                    color: $secondRed;
                }
            }
        }
    }
    
    .services{
        
        .titre{
            font-size: 1.8em;
            margin-bottom: 100px;
            justify-content:flex-start;
            padding-left: 80px;
        }

        .animation{
            flex-direction: row;

            >.image{
                height: 100%;
                width: 50%;

                >img{
                    height: 90%;
                    width: 80%;
                }
            }

            >.descriptif{
                width: 50%;
                height: 90%;
                margin-right: 70px;

                >span, p{             
                    font-size: 1.8em;
                    font-weight: bold;
                }
            }
        }
    }

    h1{
        font-size: 2.8em;
    }
}